
 .list-items {
    background: rgba(217, 217, 217, 0.4);
    border-radius: 8px;
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 10px 4px;
}

 .list-items li {
    position: relative;
    background: #e3e2e2;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 8px solid transparent;
    transition: 0.5s;
}

 .list-items li.active {
    transform: translateX(14px);
    background: #FFF;
}

 .list-items li div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .list-items li div .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 38px;
    height: 38px;
    z-index: 1;
    background: var(--clr);
    border-radius: 10px;
    transition: 0.5s;
}

 .list-items li div .icon img {
    margin: 5px 0 0 2px;
 }

 .list-items .dots {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    left: -7px;
 }

 .list-items .dots  .dot {
    margin: 15px 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--clr);
    border: 4px solid #fff;
   transform: scale(0);
    transition: 0.5s;
 }

 .list-items .dots  .dot.active {
    transform: scale(1);
 }
