.performance-chart-section {
    background-color: #041122;
}

.chart {
    margin: 50px auto;

}

.chart-content {
    display: flex;
    margin: 75px auto;
    padding: 20px 0;
    overflow: hidden;
}

.chart-content-left {
    width: 1066px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.chart-title {
    font-size: 32px;
    transform: translateX(-500px);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.chart.active .chart-title {
    transform: translateX(0);
    opacity: 1;
}

.chart-drawing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 901px;
    height: 528px;
    margin-top: 78px;
    background: linear-gradient(180deg, rgba(4, 17, 34, 0.4) 54.17%, rgba(178, 127, 41, 0.28) 100%);
    transform: translateY(500px);
    opacity: 0;
    transition: all 1s ease-in-out 0.1s;
}

.chart.active .chart-drawing {
    transform: translateY(0);
    opacity: 1;
}

.chart-content-right {
    display: flex;
    align-items: center;
    transform: translateY(-500px);
    opacity: 0;
    transition: all 1s ease-in-out 0.2s;
}

.chart.active .chart-content-right {
    transform: translateY(0);
    opacity: 1;
}

.chart-table {
    display: flex;
    margin-top: 41px;
    transform: translateY(500px);
    opacity: 0;
    transition: all 1s ease-in-out 0.5s;
}

.chart.active .chart-table {
    transform: translateY(0);
    opacity: 1;
}

.chart-table-col {
    width: 276px;
    height: 81px;
    padding: 10px;
    background: #041122;
    border: 1px solid #B27F29;
}

.chart-table-col-text {
    color: #ffffff;

}

.chart-table-col-number {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.chart-table-col-right .chart-table-col-text {
    margin-top: 30px;
}


@media screen and (max-width: 768px) {
    .performance-chart-section {
        height: inherit;
        background-color: #041122;
    }

    .chart-content {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
    }

    .chart-content-left {
        width: 100%;
    }

    .chart-title {
        width: 100%;
        padding: 2rem 0;
        text-align: center;
        border-top: 0.1pt solid #B27F29;
        border-bottom: 0.1pt solid #B27F29;
        font-size: 25px;
        background: rgba(21, 36, 55, 0.5);
    }

    .chart-drawing {
        width: 100%;
        height: 200px;
        margin: 40px 10px 0;
        /*padding: 0;*/
    }

    .chart-content-right {
        display: flex;
        align-items: center;
        margin-top: 40px;
    }

    .chart-table {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .chart-table-col:nth-child(even) {
        background-color: rgba(21, 36, 55, 0.5);
    }

    .chart-table-col {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: inherit;
        padding: 15px 25px;
        border-bottom: 0.1pt solid #B27F29;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .chart-table-col-number {
        margin-top: 0;
    }

    .chart-table-col-right {
        display: flex;

    }

    .chart-table-col-right .chart-table-col-text {
        margin-top: 0;
    }

    .chart-content-right {
        justify-content: center;
    }

    .chart-table-right {
        width: 90%;
    }

    .chart-table-col-right:nth-child(odd) {
        background-color: rgba(21, 36, 55, 0.5);
    }

    .chart-table-col-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.1pt solid #B27F29;
        height: inherit;
        padding: 15px 25px;
    }
}