.fornax-roadmap {
    /* position: relative; */
    z-index: 0;
    background: #041122;
}

/***

====================================================================
  Roadmap Section
====================================================================

***/
.road-map-wrapper .title-box-two {
    padding: 80px 0;
    text-align: center;
}

.road-map-wrapper .title-box-two h2 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    background: linear-gradient(180deg, #B27F29 0%, #F79C04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.road-map-wrapper .title-box-two .text-content {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    max-width: 700px;
    color: #FFF;
    line-height: 28px;
}

.roadmap-box.mobile {
    display: none;
}


.roadmap-box {
    position: relative;
    display: block;
    max-width: 1233px;
    padding-right: 50px;
    min-height: 710px;
    padding-top: 80px;
    margin: 0 auto;
    width: 100%;
    height: 1032px;
    background: #FFFFFF;
    border: 1px solid #B27F29;
    border-radius: 10px;
}

.roadmap-box .bg-layer {
    background-image: url(../../assets/images/Vector 1.svg);
    position: absolute;
    left: 0;
    top: 71px;
    width: 100%;
    height: 68.59%;
    opacity: 1;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.roadmap-box .image-layer {
    background-image: url(../../assets/images/Vector 2.svg);
    position: absolute;
    left: 0;
    top: 137px;
    width: 100%;
    height: 640px;
    opacity: 1;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center top;
}

.roadmap-box .items-row {
    display: flex;

}

.roadmap-box .items-row .row-1, .roadmap-box .items-row .row-3 {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.roadmap-box .items-row .row-1{
    margin-right: 150px;
}

.roadmap-box .items-row .row-3{
    margin-left: 150px;
}

.roadmap-box .items-row .row-2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.items-row {
    position: relative;
}

.first-row {
    position: relative;
}

.mid-row {
    padding-top: 57px;
}

.last-row {
    padding-top: 47px;
}

.roadmap-block-three {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
}

.owl-theme .roadmap-block-three {
    margin-bottom: 0;
}

.items-row .row {
    margin: 0 -70px;
}

.items-row .row .roadmap-block-three {
    padding: 0 70px;
}

.roadmap-block-three .inner-box {
    position: relative;
    display: block;
    text-align: center;
}

.roadmap-block-three .inner-box .check-icon {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    font-size: 14px;
    margin: 0 auto 20px;
    border: 2.5px solid #e4a40c;
    background: #ffffff;
    border-radius: 50%;
}

.roadmap-block-three .inner-box.checked .check-icon {
    background: #e4a40c;
    border-color: #B27F29;
}

.roadmap-block-three .inner-box .check-icon i,
.roadmap-block-three .inner-box .check-icon .fa,
.roadmap-block-three .inner-box.checked .check-icon:before {
    display: none;
}

.roadmap-block-three .inner-box.checked .check-icon i,
.roadmap-block-three .inner-box.checked .check-icon .fa {
    display: inline-block;
}

.roadmap-block-three .inner-box .date {
    position: relative;
    display: block;
    color: #101010;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 22px;

}

.roadmap-block-three .inner-box .date span {
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.roadmap-block-three .lower-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 15px;
    background: #ffffff;
    text-align: center;
    width: 191px;
    height: 147px;
    background: rgba(217, 217, 217, 0.5);
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    border-radius: 15px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.03);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.roadmap-block-three .inner-box:hover .lower-box {
    /*background: #9545FA;*/
}

.roadmap-block-three h5 {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 23px;
    color: #215292;
}

.roadmap-block-three .text {
    position: relative;
    color: #8D869B;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5em;
}

.roadmap-block-three .inner-box.marked .lower-box,
.roadmap-block-three .inner-box:hover .lower-box {
    background: #1A3252;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.roadmap-block-three .inner-box.marked .lower-box h5,
.roadmap-block-three .inner-box.marked .lower-box .text,
.roadmap-block-three .inner-box:hover .lower-box h5,
.roadmap-block-three .inner-box:hover .lower-box .text {
    color: #ffffff;
}



@media screen and (max-width: 930px) {

    .road-map-wrapper .title-box-two {
        padding: 10px 0 30px;
        text-align: center;
    }

    .roadmap-box .bg-layer {
       display: none;
    }

    .roadmap-box .image-layer {
        display: none;
    }

    .roadmap-box {
        padding-right: 0;
    }

    .roadmap-box .items-row .row-1{
        margin-right: 0;
    }

    .roadmap-box .items-row .row-3{
        margin-left: 0;
    }

}


@media screen and (max-width: 930px) {

    .road-map-wrapper .title-box-two {
        padding: 10px 0 30px;
        text-align: center;
    }

    .roadmap-box .bg-layer {
        display: none;
    }

    .roadmap-box .image-layer {
        display: none;
    }

    .roadmap-box {
        padding-right: 0;
    }

    .roadmap-box .items-row .row-1{
        margin-right: 0;
    }

    .roadmap-box .items-row .row-3{
        margin-left: 0;
    }

}

@media screen and (max-width: 668px) {
    .roadmap-box.desktop {
        display: none;
    }

    .roadmap-box.mobile {
        padding: 30px 0;
        display: flex;
        height: 100%;
        border-radius: 0;
        border: none;
    }

    .road-map-wrapper .title-box-two {
        padding: 10px 0 30px;
        text-align: center;
    }

    .roadmap-box .bg-layer {
        display: none;
    }

    .roadmap-box .image-layer {
        display: none;
    }

    .road-map-wrapper .title-box-two h2 {
        font-size: 36px;
    }

    .road-map-wrapper .title-box-two .text-content {
        padding: 0 10px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 24px;
    }

    .roadmap-box.mobile .items-row {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .roadmap-box.mobile .items-row  .mobile-row{
        display: flex;
        gap: 8px;
        margin: 0 8px;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }

}

@media screen and (max-width: 406px) {
    .roadmap-box.mobile .items-row {
        margin: 30px;
    }

    .roadmap-box.mobile .items-row  .mobile-row{
        display: flex;
        flex: 2;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .roadmap-box.mobile .items-row .mobile-row  .roadmap-block-three  .inner-box {
        position: relative;
    }

    .roadmap-box.mobile .items-row .mobile-row  .roadmap-block-three  .inner-box .circle {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: -60%;
        top: 14%;
        z-index: 4;
        width: 50px;
        height: 50px;
        background: #e4a40c;
        border-radius: 50%;
        box-shadow: 0 0 0 3px #fff, 0 0 0 6px #e4a40c;
    }
    .roadmap-box.mobile .items-row .mobile-row  .roadmap-block-three  .inner-box .circle:hover {
        cursor: pointer;
    }

    .roadmap-box.mobile .items-row .mobile-row  .roadmap-block-three  .inner-box .circle h1 {
        color: #fff;
    }

    .roadmap-box.mobile .items-row  .mobile-row  .roadmap-block-three  .inner-box .circle::before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 50%;
        width: 148px;
        border-top: 2px dashed #e4a40c;
        left: 105%;


    }

    .roadmap-box.mobile .items-row .mobile-row  .roadmap-block-three  .inner-box  .circle::after {
        content: '';
        position: absolute;
        z-index: 0;
        left: 50%;
        height: 275px;
        border-left: 2px dashed #e4a40c;
        top: 106%;
    }

    .roadmap-box.mobile .items-row .mobile-row  .roadmap-block-three:last-child .inner-box .circle::after {
        display: none;
    }


}
