/*========================================================
                        Main Banner
========================================================*/

.main-banner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    /*overflow: hidden;*/
}


.main-banner::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--SECONDARY_COLOR);
    opacity: 0.6;
    z-index: 0;

}

.main-banner-content {
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
    flex-wrap: wrap;
}

.left-side {
    min-width: 582px;
    display: flex;
    justify-content: center;
    flex: 1;
    position: relative;
    z-index: 1;
    padding: 50px 0;
}

.left-side .title {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    font-size: 4rem;
    font-weight: 700;

}

.left-side .title .fornax {
    font-size: 4rem;
    font-weight: 700;
}

.left-side .title .underline {
    width: 570px;
    height: 10px;
    margin-left: -80px;
    background: radial-gradient(50% 50% at 50% 50%, #F79C04 0%, rgba(178, 127, 41, 0) 100%);
}

.left-side .subtitle {
    max-width: 295px;
    padding: 20px 0 10px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.left-side .subtitle_2 {
    margin: 40px 0;
}

.left-side .subtitle p {
    color: #fff;
}

.left-side button {
    width: 159px;
    height: 49px;
    margin-top: 10px;
    background: transparent;
    color: #fff;
    background: var(--PRIMARY_COLOR);
    border: var(--PRIMARY_COLOR) solid 1px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


}

.right-side {
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}


.right-side .content {
    max-width: 720px;
    min-height: 400px;
    position: relative;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    height: 100%;
    z-index: 1;
}

.right-side .content .title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    /*margin-top: -50px;*/
}

.right-side .content .line {
    width: 50%;
    height: 50px;
    border: 4px solid #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;

}

.right-side .content .blocks {
    position: absolute;
}

.right-side .content .block_1 {
    right: 70px;
    top: 160px;
}

.right-side .content .block_2 {
    bottom: -20px;
    left: 45%

}

.right-side .content .block_3 {
    left: 70px;
    top: 140px;
}

/*===================================
                Loader
======================================*/

.loader {
    position: relative;
    transform: skewY(-17deg) translateY(50px) translateX(50px) rotate(-1deg);
    animation: animation-color 2.5s linear infinite;
}

@keyframes animation-color {
    0% {
        filter: hue-rotate(210deg);
    }
    100% {
        filter: hue-rotate(200deg);
    }
}

.loader span {
    position: relative;
    margin: 10px;
    width: 120px;
    height: 16px;
    display: block;
    background: #3e3f46;
    transition: 0.5s;
    z-index: var(--i);
    animation: animate 3s ease-in-out infinite;
    animation-delay: calc(-1S * var(--i));
}

.loader span:last-child {
    height: 50px;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(3px);
    }
}

.loader span.active {
    background: #33a3ee;
    transition: 0s;
}

.loader span:hover {
    background: #33a3ee;
    transition: 0s;
}

.loader span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -118px;
    height: 100%;
    width: 118px;
    background: #2e3133;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

.loader span.active::before {
    background: #1f5378;
    transition: 0s;
}


.loader span::after {
    content: "";
    position: absolute;
    top: -118px;
    left: 0;
    width: 100%;
    height: 118px;
    background-color: #35383e;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

.loader span:first-child img {
    overflow: clip;
    position: absolute;
    top: -20px;
}

.loader span:hover::after {
    background: #2982b9;
    transition: 0s;
}


/*===================================
          Responsive Design
======================================*/


@media screen and (max-width: 768px) {

    .main-banner {
        padding: 0;
    }

    .main-banner-content {
        display: flex;
        justify-content: space-between;
        row-gap: 30px;
        flex-wrap: wrap;
    }

    .left-side {
        min-height: 450px;
        position: relative;
        padding: 50px 20px;
        min-width: 350px;

    }

    .left-side .bg-layer {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(6, 15, 26, 0.77);
    }

    .left-side .top-side {
        position: relative;
        z-index: 1;
    }

    .left-side div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-banner-content .left-side .title {
        display: none;

    }

    .left-side .subtitle {
        max-width: 100%;
        padding: 10px 0 10px;
        font-weight: 700;
        font-size: 32px;
        line-height: 45px;
        text-align: center;
    }

    .left-side .subtitle_2 {
        margin: 20px 0;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }

    .left-side .subtitle p {
        color: #fff;
    }

    .left-side button {
        background: transparent;
        color: var(--PRIMARY_COLOR);
    }

    .right-side {
        display: none;
    }
    .right-side .content {
        min-height: 500px;
    }

    .right-side .content .block_2 {
        bottom: 87px;
        left: 45%

    }


}


@media screen and (max-width: 650px){
    .right-side {
        display: none;
    }
    .right-side .content {
        min-height: 550px;
    }

    .right-side .content .blocks {
        padding: 0 30px;
    }

    .right-side .content .block_1 {
        top: 144px;
    }

    .right-side .content .block_2 {
        bottom: 77px;
        left: 43%;

    }

    .right-side .content .block_3 {
        top: 157px;
    }
}


/*
@media screen and (max-width: 600px){
    .right-side .content {
        min-height: 350px;
        margin-top: 0px;
    }

    .right-side .content .line {
        width: 60%;
        height: 35px;

    }

    .right-side .content .blocks {
        padding: 0 30px;
    }

    .right-side .content .block_1 {
        top: 106px;
    }

    .right-side .content .block_2 {
        bottom: 200px;
        left: 40%;
        display: none;

    }

    .right-side .content .block_3 {
        left: 40px;
        top: 111px;
    }


    .loader span {
        position: relative;
        margin: 10px;
        width: 80px;
        height: 16px;
        display: block;
        background: #3e3f46;
        transition: 0.5s;
        z-index: var(--i);
        animation: animate 3s ease-in-out infinite;
        animation-delay: calc(-1S * var(--i));
    }

    .loader span:last-child {
        height: 50px;
    }

    .loader span::before {
        left: -66px;
        height: 100%;
        width: 66px;
    }

    .loader span::after {
        top: -66px;
        height: 66px;
    }
}


@media screen and (max-width: 500px){
    .right-side {
        min-width: auto;

    }
    .right-side .content {
        min-height: 350px;
    }

    .right-side .content .blocks {
        padding: 0 30px;
    }

    .right-side .content .block_1 {
        top: 96px;
        right: 24px;
    }

    .right-side .content .block_2 {
        bottom: 200px;
        left: 40%;
        display: none;

    }

    .right-side .content .block_3 {
        left: -6px;
        top: 92px;
    }


    .loader span {
        position: relative;
        margin: 10px;
        width: 80px;
        height: 16px;
        display: block;
        background: #3e3f46;
        transition: 0.5s;
        z-index: var(--i);
        animation: animate 3s ease-in-out infinite;
        animation-delay: calc(-1S * var(--i));
    }

    .loader span:last-child {
        height: 50px;
    }

    .loader span::before {
        left: -66px;
        height: 100%;
        width: 66px;
    }

    .loader span::after {
        top: -66px;
        height: 66px;
    }



}*/
