.news-letter-wrapper {
    background: #041122;
}

.news-letter-container {
    position: relative;
    background: url(../../assets/images/experts_background.jpeg) no-repeat;
    background-size: cover;
}

.news-letter-container .bg-layer {
    background: rgba(20, 39, 67, 0.9);
    /*background: rgba(11, 31, 65, 0.38);*/
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.news-letter-content {
    padding: 50px 10px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-letter-content .sign-up-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 60px 0;
    max-width: 650px;
    border-radius: 10px;
    /*background: rgba(76, 78, 79, 0.46);*/
}

.news-letter-content .sign-up-form .title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    background: linear-gradient(180deg, #B27F29 0%, #F79C04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.news-letter-content .sign-up-form .description-1 {
    color: #FFF;

}

.news-letter-content .sign-up-form .input-field {
    display: flex;
    background: #FFF;

}

.news-letter-content .sign-up-form .input-field input {
    flex: 4;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    outline: none;
    border: none;
    background: transparent;

}

.news-letter-content .sign-up-form .input-field button {
    padding: 0 15px;
    border:none;
    outline: none;
    flex: 1;
    height: 40px;
    cursor: pointer;
    background: #B27F29;
    color: #fff;
    font-weight: 600;
}

.news-letter-content .sign-up-form .description-2 {
    color: #FFF;
}

@media screen and (max-width: 450px){

    .news-letter-content {
        padding: 10px 10px;
    }

    .news-letter-content .sign-up-form .title {
        font-size: 24px;

    }

    .news-letter-content .sign-up-form .description-1 {
        color: #FFF;
        font-size: 14px;
    }

    .news-letter-content .sign-up-form .input-field button {
        padding: 0 20px;
    }

    .news-letter-content .sign-up-form .description-2 {
        color: #FFF;
        font-size: 14px;
    }
}



