@media screen and (max-width: 40270px) {
    .what-frx-coin .container-wrapper .web {
        display: none;
    }

    .what-frx-coin .container-wrapper .frx-coin-less-1270px {
         background: url(../../../assets/images/01_MSR_SIGCOMM_Data_Network_1400x788.png);
        padding: 60px 20px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .what-frx-coin .container-wrapper .frx-coin-less-1270px .bg-layer {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(4, 17, 34, 0.91);
    }
    .what-frx-coin .container-wrapper .frx-coin-less-1270px .frx-coin-less-1270px-content {
        position: relative;
    }

    .frx-coin-less-1270px .header {
        margin: 0 0 20px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .frx-coin-less-1270px .header .title {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        background: linear-gradient(180deg, #B27F29 0%, #F79C04 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .frx-coin-less-1270px .header .subtitle {
        text-align: center;
        max-width: 600px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .frx-coin-less-1270px .links {
        padding: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.1);
    }

    .frx-coin-less-1270px .links .left-side-col {
        list-style: none;
        display: flex;
        row-gap: 20px;
        flex-direction: column;
        max-width: 600px;
    }


    .frx-coin-less-1270px .links .left-side-col li {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 40px;
        column-gap: 30px;
        border-radius: 10px;
        transition: all 0.5s;
        text-align: right;
    }

    .frx-coin-less-1270px .links .left-side-col li:first-child {
        padding: 20px 40px;
    }

    .frx-coin-less-1270px .links .left-side-col li:hover{
        background: rgba(48, 70, 113, 0.31);
    }

    .frx-coin-less-1270px .links .left-side-col li:hover .icon, .frx-coin-less-1270px .links .right-side-col li:hover .icon {
        transform: scale(-1) rotate(180deg);
    }

    .frx-coin-less-1270px .links .left-side-col li:hover .icon::before, .frx-coin-less-1270px .links .right-side-col li:hover .icon::before {
        border: 3px solid rgba(241, 147, 5, 0.94);
    }
.pos
{ max-width:1233px;
    width: 100%;
}
.mobile{
    display: none;
}
.web2{
    display: block;
}

    .frx-coin-less-1270px .links .left-side-col li .icon, .frx-coin-less-1270px .links .right-side-col li .icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, #B27F29 0%, #F79C04 100%);
        min-width: 60px;
        height: 60px;
        border-radius: 50%;
        transition: all 0.5s;
    }

    .frx-coin-less-1270px .links .left-side-col li .icon::before, .frx-coin-less-1270px .links .right-side-col li .icon::before {
        content: "";
        position: absolute;
        min-width: 75px;
        min-height: 75px;
        border: 3px solid rgba(253, 252, 252, 0.36);
        border-radius: 50%;
        transition: 0.5s;

    }

    .frx-coin-less-1270px .links .left-side-col li .icon img, .frx-coin-less-1270px .links .right-side-col li .icon img{
        margin-top: 4px;
    }

    .frx-coin-less-1270px .links .left-side-col li .description-column h2 {
        margin-bottom: 12px;
        color: #fff;
        text-align: right;
    }

    .frx-coin-less-1270px .links .left-side-col li .description-column p{
        color: #fff;
    }

    .frx-coin-less-1270px .links .right-side-col {
        list-style: none;
        display: flex;
        row-gap: 20px;
        flex-direction: column;
        max-width: 600px;
    }

    .frx-coin-less-1270px .links .right-side-col li {
        display: flex;
        align-items: flex-end;
        padding: 40px;
        column-gap: 30px;
        border-radius: 10px;
        transition: all 0.5s;
    }

    .frx-coin-less-1270px .links .right-side-col li:hover{
        background: rgba(48, 70, 113, 0.31);
    }

    .frx-coin-less-1270px .links .right-side-col li .description-column h2 {
        margin-bottom: 12px;
        color: #fff;
        text-transform: capitalize;
    }

    .frx-coin-less-1270px .links .right-side-col li .description-column p{
        color: #fff;
    }

}


@media screen and (max-width: 950px) {
    .frx-coin-less-1270px .links {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 450px) {
    .mobile{
        display: block;
    }
    .web2{
        display: none;
    }


    .what-frx-coin .container-wrapper .frx-coin-less-1270px {
        padding: 60px 15px;
    }
    .frx-coin-less-1270px .links .left-side-col li {
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
        padding: 50px 20px;
    }

    .frx-coin-less-1270px .links .left-side-col li .description-column h2 {
        margin: 20px 0;
        text-align: center;
        line-height: 28px;

    }

    .frx-coin-less-1270px .links .left-side-col li .description-column p{
        text-align: center;
    }

    .frx-coin-less-1270px .links .right-side-col li {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
        padding: 50px 20px;
    }

    .frx-coin-less-1270px .links .right-side-col li .description-column h2 {
        margin: 20px 0;
        text-align: center;
        line-height: 28px;

    }

    .frx-coin-less-1270px .links .right-side-col li .description-column p{
        text-align: center;
    }
}

