.mobile-block-chain-list .card {
    display: flex;
}

.mobile-block-chain-list .active-group-title {
    width: 100%;
    border:  1px solid #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    row-gap: 4px;
    border-radius: 8px;
    background: var(--clr);
}

.mobile-block-chain-list .active-group-title .heading_1 {
    font-size: 18px;
    color: #fff;
}

.mobile-block-chain-list .active-group-title .heading_2 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.mobile-block-chain-list .card:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.01);
}

.mobile-block-chain-list .card .card-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.mobile-block-chain-list .card .logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 2px solid rgba(4, 17, 34, 0.1);
    border-radius: 50%;
}

.mobile-block-chain-list .card .logo img {
    position: absolute;
    top: calc(50% - 21px);
}

.mobile-block-chain-list .card .card-body {
    display: flex;
    flex: 2.6;
    flex-direction: column;
}

.mobile-block-chain-list .card .card-body .market-cap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.mobile-block-chain-list .card .card-body .market-cap .divider {
    height: 15px;
}


@media screen and (max-width: 500px) {

    .supported-block-chain-wrapper {
        padding: 20px 10px;
    }
    .mobile-block-chain-list .card .card-logo {
        flex: 0.9;
    }

    .mobile-block-chain-list .card .logo {
        width: 70px;
        height: 70px;
        border: 1px solid rgba(4, 17, 34, 0.1);
    }

    .mobile-block-chain-list li img {
        width: 40px;
        height: 40px;
        margin-top: 1px;
    }

    .mobile-block-chain-list .card .card-body .card-text .heading_1 {
            font-size: 16px;
    }

    .mobile-block-chain-list .card .card-body .card-text .heading_2 {

    }

    .mobile-block-chain-list .card .card-body .market-cap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }


}
