.token-allocation {
    width: 100%;
    background: #041122;
}

.token-allocation-wrapper {
    max-width: 1233px;
    margin: 0 auto;
    width: 100%;
    padding: 30px 5px 0;
    background: #041122;
    border-radius: 20px;
}

.token-allocation-wrapper .main-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.token-allocation-wrapper .main-column .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    background: linear-gradient(180deg, #B27F29 0%, #F79C04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}
.tokenomics{
    width: 100%;
    margin-top: 30px;
}
.token-allocation-list-column {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background: #fff;
    padding: 50px 10px;
    border-radius: 10px;
    display: none;
}

.token-allocation-first-row {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: rgba(217, 217, 217, 0.2);
}

.status-bars-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    margin: 5px 20px;
}

.status-bars-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px 6px;
    width: 98px;
    height: var(--height);
    border-radius: 50px;
    background: var(--color);
    border: 2px solid #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.48);
    border-radius: 50px;
    transition: all 0.5s;
}

.status-bars-list li:hover {
    transform: translateY(-5px) scale(0.90);
}

.status-bars-list li:hover .icon img {
    transform: scale(1.2);
}

.status-bars-list li h4 {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 6px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.status-bars-list li .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background: #E9E9E9;
    border: 3px solid #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.status-bars-list li .icon img {
    margin-top: 10px;
    transition: transform .4s ease-in-out
}

.token-allocation-second-row {
    padding: 40px;
}

.token-allocation-second-row .row-1, .token-allocation-second-row .row-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    margin: 40px 5px;
}

.token-allocation-second-row .row-1 li, .token-allocation-second-row .row-2 li {
    display: flex;
    align-items: center;
    column-gap: 14px;
    background: rgba(217, 217, 217, 0.1);
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.5s;
}

.token-allocation-second-row .row-1 li .dot, .token-allocation-second-row .row-2 li .dot {
    width: 24px;
    height: 24px;
    background: var(--color);

}

.token-allocation-second-row .row-1 li h4, .token-allocation-second-row .row-2 li h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.token-allocation-second-row .row-1 li.active, .token-allocation-second-row .row-1 li:hover, .token-allocation-second-row .row-2 li.active, .token-allocation-second-row .row-2 li:hover {
    border: 1px solid var(--color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
}
.tokenomics.mobile{
    display: none;
}
.tokenomics.web{
    width: 95%;
    margin: 0 auto;
    scale: 0.8;
    display: block;
}


@media screen and (max-width: 748px){

    .token-allocation-wrapper {
        padding: 30px 0; /*new*/
    }

    .token-allocation-wrapper .main-column .title {
        font-size: 28px;
        line-height: 42px;
    }

    .status-bars-list li {
        width: 60px;
        height: var(--height);
    }

    .status-bars-list li .icon {
        width: 50px;
        height: 50px;
    }

    .status-bars-list li .icon img {
        width:40px;
        margin-top: 10px;
        transition: transform .4s ease-in-out
    }
    .tokenomics.mobile{
        display: none;
    }
    .tokenomics.web{
        display: block;
    }


}

@media screen and (max-width: 450px){
    .tokenomics.mobile{
        display: block;
    }
    .tokenomics.web{
        display: none;
    }
.tokenomics{
    padding: 30px;
    margin-top: 0px;
}
    .token-allocation-wrapper {
        padding: 30px 0;
    }

    .token-allocation-list-column {
        padding: 0 0;
        border-radius: 0;
        margin-top: 20px;
    }

    .token-allocation-first-row {
        padding: 10px 0;
    }

    .status-bars-list {
        gap: 4px;
        list-style: none;
        margin: 5px 12px;
    }

    .token-allocation-wrapper .main-column .title {
        font-size: 20px;
        padding: 0 20px;
        text-align: center;
        line-height: 32px;
    }

    .status-bars-list li {
        padding: 8px 5px 4px;
        width: 50px;
        height: var(--mobile-height);
    }
    .status-bars-list li h4 {
        font-size: 14px;
        margin-top: 6px;
    }

    .status-bars-list li .icon {
        width: 42px;
        height: 42px;
        border: 1.5px solid #FFFFFF;
    }

    .status-bars-list li .icon img {
        width:34px;
    }

    .token-allocation-second-row {
        display: flex;
        flex-direction: row;
        padding: 0 0;
        padding-bottom: 20px;
    }

    .token-allocation-second-row .row-1, .token-allocation-second-row .row-2 {
        gap: 10px;
        margin: 25px 2px 5px;
    }

    .token-allocation-second-row .row-1 li, .token-allocation-second-row .row-2 li {
        display: flex;
        min-width: 130px;
        align-items: center;
        column-gap: 8px;
        background: rgba(217, 217, 217, 0.1);
        border: 1px solid #D9D9D9;
        border-radius: 10px;
        padding: 8px;
        transition: all 0.5s;
    }

    .token-allocation-second-row .row-1 li .dot, .token-allocation-second-row .row-2 li .dot {
        width: 12px;
        height: 12px;

    }

    .token-allocation-second-row .row-1 li h4, .token-allocation-second-row .row-2 li h4 {
        font-weight: 400;
        font-size: 10px;
        line-height: 19px;
        color: #000000;
    }


}