.supported-block-chain {
    width: 100%;
    background: #041122;
}

.supported-block-chain-wrapper {
    max-width: 1233px;
    margin: 0 auto;
    padding: 32px 60px 80px;
    background: #FFFFFF;
    border-radius: 20px;
}

.supported-block-chain-wrapper .main-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.supported-block-chain-wrapper .main-column .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    background: linear-gradient(180deg, #B27F29 0%, #F79C04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.supported-block-chain-wrapper .main-column .subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.supported-block-chain-wrapper .main-column .buttons-row {
    list-style: none;
    display: flex;
    column-gap: 10px;
}

.supported-block-chain-wrapper .main-column .buttons-row li {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 14px 20px;
    background: rgba(217, 217, 217, 0.1);
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.supported-block-chain-wrapper .main-column .buttons-row li button {
    border: none;
    outline: none;
    background: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.3);
}

.block-chain-list-row {
    display: flex;
    margin-top: 40px;
}

.block-chain-left-side {
    display: flex;
    flex: 1 !important;
}

.block-chain-left-side .col-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.block-chain-left-side ul {
    list-style: none;
}

.block-chain-left-side .col-list li {
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 10px;
    padding: 16px 22px;
    background: rgba(217, 217, 217, 0.4);
    border-radius: 10px;
    transition: all 0.5s;
}

.block-chain-left-side .col-list li.active, .block-chain-left-side .col-list li:hover  {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.01);
    cursor: pointer;
}

.block-chain-left-side .col-list li .icon {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    background: #B27F29;
    border-radius: 5px;
}

.block-chain-left-side .col-list li:nth-child(2) .icon {
    background: #F79C04
}

.block-chain-left-side .col-list li:nth-child(3) .icon {
    background: rgba(247, 156, 4, 0.66);
}

.block-chain-left-side .col-list li .button-text {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.block-chain-left-side .col-list li .button-text .heading_1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #101D2E;
}

.block-chain-left-side .col-list li .button-text .heading_2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.3);
}

.block-chain-right-side {
    display: flex;
    justify-content: center;
    flex: 3;
}

.block-chain-detail-cards {
    display: flex;
    list-style: none;
    column-gap: 30px;
}

.block-chain-detail-cards li {
    width: 222px;
    height: 222px;
    background: rgba(217, 217, 217, 0.1);
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 29px 15px;
    display: flex;
    flex-direction: column;
    row-gar: 10px;
    /*justify-content: center;*/
    align-items: center;
    transition: all 0.5s;
}

.block-chain-detail-cards li:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.01);
}

.block-chain-detail-cards li img {
    width: 43px;
    height: 43px;
    margin-bottom: 10px;
}

.block-chain-detail-cards li .card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
}

.block-chain-detail-cards li .card-text .heading_1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.6);
}

.block-chain-detail-cards li .card-text .heading_2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.3);
}

.block-chain-detail-cards li .market-cap {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.block-chain-detail-cards li .market-cap .divider {
    width: 1px;
    height: 82px;
    background: #D9D9D9;
}

.block-chain-detail-cards li .market-cap .left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.block-chain-detail-cards li .market-cap .left-col .amount {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.7);
}

.block-chain-detail-cards li .market-cap .left-col .label {
    margin-top: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.3);
}

.block-chain-detail-cards li .market-cap .right-col .amount {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #00ADAB;

}

.block-chain-detail-cards li .market-cap .right-col .label {
    margin-top: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.3);
}

.block-chain-detail-cards li .market-cap .right-col {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}