.naveed-hussain-card {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.naveed-hussain-card .social-links {
    position: absolute;
    list-style: none;
    display: flex;
    min-width: 247px;
    justify-content: space-between;
    bottom: 23.4%;
}

.naveed-hussain-card .social-links .social-link-item {
    width: 80%;
    height: 85%;
    border-radius: 50%;
    transition: all 0.4s;
}

.naveed-hussain-card .social-links .social-link-item:hover {
    transform: scale(1.1);
}

.naveed-hussain-card .social-links .social-link-item:nth-child(1){
    border-radius: 5px;
}

.naveed-hussain-card .social-links .social-link-item:nth-child(2){
    border-radius: 5px;

}

.naveed-hussain-card img {
    height: 100vh;
}