@media screen and (max-width: 768px) {

    .container-wrapper {
        margin: 0 auto;
        max-width: 768px;
    }

    .mobile-menu {
        display: flex;
        z-index: 2;
    }

    .mobile-menu .hamburger div {
        width: 40px;
        height: 4px;
        margin-bottom: 7px;
        background-color: #B27F29;
        border-radius: 5px;
        transition: 0.4s;
    }

    .open {
        display: block;
    }

    .open .bar1 {
        -webkit-transform: rotate(-45deg) translate(-8px, 8px);
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .open .bar2 {
        opacity: 0;
    }

    .open .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -8px);
        transform: rotate(45deg) translate(-6px, -8px);
    }

    .mobile-menus-list.open {
        top: 56px;
    }

    .mobile-menus-list li {
        padding: 20px;
        text-align: center;
        border-bottom: 0.1pt solid #313131;
    }

    .mobile-menus-list li:hover {
        cursor: pointer;

    }

    .mobile-menus-list li:hover a {
        display: inline-block;
        /*-ms-transform: scale(1.1, 1.1); !* IE 9 *!*/
        /*-webkit-transform: scale(1., 5.5); !* Safari *!*/
        transform: scale(1.1);
    }

    .hamburger:hover {
        cursor: pointer;
    }

    a {
        text-decoration: none;
        transition: transform .5s;
    }

    .top-menu-container {
        grid-template-columns:100px 1fr 40px;
    }

    .top-menu-container img {
        width: 50px;
        height: 50px;
    }

    .top-menu-container .menu {
        display: none;
    }

    .top-menu-container .login-btn {
        display: none;
    }

    .main-banner {
        padding: 50px 0;
        background-size: contain;
    }

    .main-banner-title {
        display: flex;
        align-items: center;
        font-size: 80px;
        line-height: 110px;
    }

    .main-banner-title-F {
        font-size: 80px;
    }

    .main-banner-title-RNAX {
        font-size: 80px;
    }

    .main-banner-title img {
        width: 80px;
        height: 80px;
    }

    .main-banner-subtitle {
        font-size: 20px;
        width: 350px;
        line-height: 35px;
    }
    .counter_container {
        margin: 60px auto;
    }

    .counter_container .coming_soon {
        text-align: center;
        margin-bottom: 60px;
        font-size: 26px;
        line-height: 36px;
        text-transform: uppercase;
    }

    #time {
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
        justify-content: center;
    }

    .statistics-section {
        row-gap: 50px;
        height: inherit;
    }

    .statistics-title {
        font-size: 12px;
        width: inherit;
        border-left: none;
        border-right: none;
        padding: 20px 5px;
        text-align: center;
    }

    .statistics-content {
        display: flex;
        flex-direction: column;
    }

    .statistics-section .statistics-title, .statistics-section .statistics-content {
        animation: TY-0_OP-1 1s linear 0.2s forwards;
    }

    @keyframes TY-0_OP-1 {
        to {
            transform: translateY(0);
            opacity: 1;
        }

    }

    .seprator {
        width: 250px;
        margin: 20px 0 20px 0;
        border: 0.1pt solid #B27F29;
        transform: rotate(0deg);
    }

    .performance-chart-section {
        height: inherit;
        background-color: #041122;
    }

    .chart-content {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
    }

    .chart-content-left {
        width: 100%;
    }

    .chart-title {
        width: 100%;
        padding: 2rem 0;
        text-align: center;
        border-top: 0.1pt solid #B27F29;
        border-bottom: 0.1pt solid #B27F29;
        font-size: 25px;
        background: rgba(21, 36, 55, 0.5);
    }

    .chart-drawing {
        width: 100%;
        height: 200px;
        margin: 40px 10px 0;
        /*padding: 0;*/
    }

    .chart-content-right {
        display: flex;
        align-items: center;
        margin-top: 40px;
    }

    .chart-table {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .chart-table-col:nth-child(even) {
        background-color: rgba(21, 36, 55, 0.5);
    }

    .chart-table-col {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: inherit;
        padding: 15px 25px;
        border-bottom: 0.1pt solid #B27F29;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .chart-table-col-number {
        margin-top: 0;
    }

    .chart-table-col-right {
        display: flex;

    }

    .chart-table-col-right .chart-table-col-text {
        margin-top: 0;
    }

    .chart-content-right {
        justify-content: center;
    }

    .chart-table-right {
        width: 90%;
    }

    .chart-table-col-right:nth-child(odd) {
        background-color: rgba(21, 36, 55, 0.5);
    }

    .chart-table-col-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.1pt solid #B27F29;
        height: inherit;
        padding: 15px 25px;
    }

    .ecosystem {
        padding: 70px 0;
    }

    .ecosystem-content {
        width: 100%;
        padding: 0 20px;
        margin: 40px 0 0;
        flex-direction: column;
    }

    .ecosystem-left .title {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .ecosystem-title {
        font-size: 28px;
    }

    .ecosystem-left p {
        width: 100%;
        font-size: 12px;
    }

    .ecosystem-left .button {
        margin-top: 30px;
    }

    .ecosystem-right {
        display: none;
    }

    .technology {
    }

    .technology .content {
        max-width: 80%;
        flex-direction: column;
    }

    .technology .content-left, .technology .content-right {
        width: 100%;
        justify-content: space-evenly;
        font-size: 22px;
    }

    .technology .content-right {
        flex-direction: row-reverse;
    }


    .technical {
        margin-top: 70px;
    }

    .technical .main-heading .description {
        padding: 0 20px;
        font-size: 12px;
    }

    .technical .content {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    .technical .content .block {
        width: 95%;
    }

    .technical .content .block .heading {
        margin-top: 0;
        font-size: 20px;
        line-height: 24px;
    }

    .technical .content .block .description {
        margin-top: 20px;
        /*text-align: justify;*/
        font-size: 12px;
    }

    .product {
        display: none;
    }

    .product-mobile {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-mobile .main-heading {
        font-size: 22px;
        opacity: 1;
        font-weight: 700;
        margin-bottom: 50px;
        transition: 1s;
    }

    .product-mobile.hidden .main-heading {
        opacity: 0;
    }


    .product-mobile ul {
        width: 80%;
        display: flex;
        flex-direction: column;
        row-gap: 28px;
    }

    .product-mobile li {
        position: relative;
        display: flex;
        list-style: none;

        /*border: #389729 solid 0.2pt;*/
    }

    .product-mobile ul li:before {
        content: '';
        background-image: url('../images/main-banner-logo.svg');
        background-size: contain;
        /*background: rgba(255, 255, 255, 0.05);*/
        position: absolute;
        top: 0;
        width: 54px;
        height: 54px;
        /*border: var(--PRIMARY_COLOR) solid 1px;*/
        border-radius: 50%;
        z-index: 0;

    }

    .product-mobile li:nth-child(even) {
        justify-content: end;
        transform: translateX(-200px);
        opacity: 0;
        transition: 1s;
    }

    .product-mobile li:nth-child(odd) {
        transform: translateX(200px);
        opacity: 0;
        transition: 1s;
    }

    .product-mobile.active li:nth-child(odd), .product-mobile.active li:nth-child(even) {
        transform: translateX(0);
        opacity: 1;
    }

    .product-mobile ul li span {
        position: relative;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: none;
        cursor: pointer;
        padding: 15px 0;
        overflow: hidden;
        font-weight: 600;
        width: 200px;
        height: 52px;
        border: var(--PRIMARY_COLOR) solid 1px;
        border-radius: 25px;
        transition: 1s;
    }

    .product-mobile ul li span:hover {
        color: white;
    }
    .product-mobile li:nth-child(2) span {
        width: 225px;
    }

    .product-mobile li:nth-child(even) span {
        padding-left: 18px;
        text-align: left;
    }

    .product-mobile li:nth-child(odd) span {
        padding-right: 18px;
        text-align: right;
    }

    .product-mobile-detail {
        position: absolute;
        background: rgba(4, 17, 34, 0.95);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -10px 0;
        border-radius: 10px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
    }

    .product-mobile-detail .wrapper {
        width: 320px;
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border: #B27F29 solid 0.1pt;
        border-radius: 50%;
        animation: scaleUp 0.8s;
    }

    @keyframes scaleUp {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }


    .product-mobile-detail .wrapper h2 {
        color: white;
        padding: 20px 10px;
    }

    .product-mobile-detail .wrapper p {
        text-align: center;
    }

    .product-mobile-detail .wrapper button {
        margin-top: 20px;
        padding: 8px 25px;
        color: #041122;
        font-weight: 700;
    }

    .documents .content {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: space-evenly;
        align-items: center;
    }

    .documents .content .block{
        width: 95%;
    }

    .term-condition {
        margin: 100px auto;
        max-width: 1200px;
        padding: 0 15px;
        justify-self: center;
    }

    .h-1{
        text-align: center;
        margin: 50px 0;
        font-size: 1.5rem;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.8);
    }

    .h-2 {
        margin: 45px 0;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 26px;
        color: rgba(255, 255, 255, 0.8);
    }

    .term-condition p {
        color: rgba(255, 255, 255, 0.7);
        text-align: justify;
        font-size: 1rem;
        line-height: 30px;
        margin: 20px 0;
    }

    .term-condition ul {
        margin: 30px 30px;
        font-size: 1rem;
        line-height: 30px;
    }

    .term-condition ul li {
        color: rgba(255, 255, 255, 0.7);
    }


    .web-footer {
        display: none;
    }

    .mobile-footer {
        display: flex;
        padding: 40px 10px;
        flex-direction: column;
        column-gap: 10px;
        row-gap: 15px;
        font-size: 12px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.5) !important;
    }

    .footer-top {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 8px;
    }

    .mobile-footer .social-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .mobile-footer .social-links .title {
        display: flex;
        align-items: center;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.5);
    }

    .mobile-footer .copyright {
        font-weight: 500;
        color: rgba(255, 255, 255, 0.5);
    }

    .mobile-footer .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .mobile-footer .links .other-links {
        color: rgba(255, 255, 255, 0.5);
    }

    .mobile-footer .links .emails {
        color: rgba(255, 255, 255, 0.5);
    }

}