canvas {
    position: absolute;
    background: transparent;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(180deg, #B27F29 , #041122);*/
}

.main-banner {
    position: relative;
    width: 100%;
    padding:  170px 100px 80px;
    background-image: url("../../../assets/images/bg-1.svg");
}

.main-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 17, 34, 0.3);
    z-index: 0;

}
.main-banner-content a {
    width: 159px;
    height: 49px;
    margin-top: 30px;
    background: transparent;
    color: #fff;
    background: var(--PRIMARY_COLOR);
    border: var(--PRIMARY_COLOR) solid 1px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 10px;



}
.main-banner-content a:hover {
    background: transparent;
    border: var(--PRIMARY_COLOR) solid 1px;
    transition: 1s;
}
.main-banner-content {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title-logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: spinning;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: linear;
    z-index: 3;
}

.title-logo img {
    width: 150px;
}


.title-logo::after, .title-logo::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    width: 200px;
    height: 200px;
    display: block;
    border: 3px solid #e4a40c;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: zoomBig 3.25s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

@keyframes zoomBig {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 1;
        border-width: 3px;
    }
    40% {
        opacity: .5;
        border-width: 2px;
    }
    65% {
        border-width: 1px;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
        border-width: 1px;
    }
}

.title-logo::before {
    width: 145px;
    height: 145px;
    border: 5px solid #B37F29;
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}

.title-logo::after {
    width: 200px;
    height: 200px;
    display: block;
    border: 3px solid #e4a40c;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.main-banner-title {
    transform: translateY(-10px) scale(0.9);
    opacity: 0;
}

.main-banner-subtitle {
    transform: translateY(-5px);
    opacity: 0;
}

.main-banner-title {
    animation: show 1s linear forwards;
    animation-delay: 1s;
}

.main-banner-subtitle {
    animation: show 1s linear 1.5s forwards;

}

.main-banner-title {
    display: flex;
    column-gap: 15px;
    line-height: 303px;
    background: linear-gradient(180deg, #B27F29 0%, rgba(178, 127, 41, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.main-banner-title-F {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 180px;

}

.main-banner-title-RNAX {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 180px;
    background: linear-gradient(180deg, #B27F29 0%, rgba(178, 127, 41, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-banner-subtitle {
    text-align: center;
    width: 738px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 56px;

    background: linear-gradient(180deg, #B27F29 0%, #F5F5F5 97.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media  screen and (max-width: 1350px) {
    .main-banner {
        padding: 170px 0 50px;
        background-size: contain;
    }

    .main-banner-title {
        display: flex;
        align-items: center;
        column-gap: 15px;
        line-height: 110px;
        margin-bottom: 20px;
    }

    .main-banner-title-F {
        font-size: 120px;
    }

    .main-banner-title-RNAX {
        font-size: 120px;
    }

    .main-banner-title img {
        width: 80px;
        height: 80px;
    }

    .main-banner-subtitle {
        font-size: 24px;
        width: 500px;
        line-height: 35px;
        margin-bottom: 20px;
    }
}


@media  screen and (max-width: 768px) {

    .main-banner {
       /* padding: 170px 0 50px;*/
        background-size: contain;
    }

    .main-banner-title {
        display: flex;
        align-items: center;
        font-size: 80px;
        line-height: 110px;
    }

    .main-banner-title-F {
        font-size: 80px;
    }

    .main-banner-title-RNAX {
        font-size: 80px;
    }

    .main-banner-title img {
        width: 80px;
        height: 80px;
    }

    .main-banner-subtitle {
        font-size: 20px;
        width: 350px;
        line-height: 35px;
    }
}

@media  screen and (max-width: 400px) {

    .main-banner-title-F {
        font-size: 70px;
    }

    .main-banner-title-RNAX {
        font-size: 70px;
    }

    .main-banner-title img {
        width: 80px;
        height: 80px;
    }

    .main-banner-subtitle {
        font-size: 18px;
    }
}