.featured-in-wrapper {
    background: #041122;
    padding: 50px 0;
}

.featured-in-content {
    position: relative;
    background: url(../../assets/images/experts_background.jpeg) no-repeat;
    background-size: cover;
}

.featured-in-content .bg-layer {
    background: rgba(20, 39, 67, 0.9);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.featured-in-content .content {
    min-height: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex !important;
    /*align-items: center !important;*/
    /*justify-content: space-around !important;*/
}

.slide {
    width: 193px;
    margin-right: 0 !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
}

.swiper-wrapper .slide .slide-image {
    padding: 4px 4px 2px;
    background: #fff;
    margin-bottom: 10px;
}

.swiper-wrapper .slide .slide-title {
    font-size: 16px;
    margin-bottom: 6px;
}

.slide-title-b-border {
    min-width: 150px;
    margin: 0 auto 0;
    height: 6px;
    background: radial-gradient(50% 50% at 50% 50%, #F79C04 0%, rgba(178, 127, 41, 0) 100%);
}


.featured-in-content .title {
    width: 534px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    background: linear-gradient(180deg, #B27F29 0%, #F79C04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.featured-in-content .description-list {
    width: 400px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 1000px) {
    .featured-in-content .content {
        padding: 0 20px;
    }
}

@media screen and (max-width: 768px) {

    .featured-in-content .content {
        padding: 20px;
        flex-direction: column;
        row-gap: 20px;

    }

    .featured-in-content .content .title {
        text-align: center;
    }


}

@media screen and (max-width: 630px) {
    .featured-in-content .content {
        padding: 20px;
        flex-direction: column;
        row-gap: 20px;

    }

}

@media screen and (max-width: 580px) {

    .featured-in-content .title {
        font-size: 22px;
    }

    .slide {
        width: 193px;
        margin-right: 0 !important;
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        height: 100% !important;
    }

    .swiper-wrapper .slide .slide-image {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
    }

    .the-crypto {
        width: 70%;
        background: #fff;
    }
}