.experts-investor-board {
    background: #041122;
    padding: 50px 0 0;
}

.experts-investor-board-wrapper {
    position: relative;
    padding: 50px 70px 50px;
    width: 100%;
    z-index: 0;
    background-image: url(../../assets/images/experts_background.jpeg);
}

.experts-investor-board-wrapper .bg-layer {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #041122;
    opacity: 0.9;
}

.experts-investor-board-wrapper .main-content {
    position: relative;
}

.experts-investor-board-wrapper .main-content .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}


.experts-investor-board-wrapper .main-content .header h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    background: linear-gradient(180deg, #B27F29 0%, #F79C04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.experts-investor-board-wrapper .main-content .header p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #101D2E;
}

.experts-investor-board-wrapper .main-content .cards-list {
    color: var(--SECONDARY_COLOR);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
}

.experts-investor-board-wrapper .main-content .cards-list .card {
    max-width: 286px;
    width: 100%;
    min-height: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    padding: 25px 16px 16px;
    margin: 80px auto;
    background: #fff;
    /*border: 1px solid #B27F29;*/
    border-radius: 10px;
    transition: all 0.3s;
}
.experts-investor-board-wrapper .main-content .cards-list .card:hover {
    transform: scale(1.01);
}

.experts-investor-board-wrapper .main-content .cards-list .card .icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #f1efef 0%, #e1e1e1 100%);
    overflow: hidden;
    margin-bottom: 40px;
}

.experts-investor-board-wrapper .main-content .cards-list .card .icon img {
    margin-top : 5px;
    height: 150px;
    position: relative;
    top: 6px;
}

.mm{
    top: -2px !important;
}
.cm{
    top: -2px !important;
}
.pm{
    height: 140px !important;
    top: 2px !important;
    left: -6px;
}
.fd{
    height: 141px !important;
    top: 0px !important;
}
.dv{
    /* left:30px !important; */
    top:30px !important;

}
.cd{
    height: 140px !important;
    zoom: 1.1;
    /*position:  relative;*/
    left: -1px;
    top: 0 !important;
    /*transform: rotate(372deg);*/
}

.experts-investor-board-wrapper .main-content .cards-list .card .card-title {
    font-weight: 700;
    margin-top:15px;
    font-size: 24px;
    line-height: 28px;
    color: #101D2E;
    border-bottom: 1px solid #e4a40c;
    padding-bottom: 4px;
}

.experts-investor-board-wrapper .main-content .cards-list .card .card-subtitle {
    max-width: 200px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-top: 4px;
    color: rgba(0, 0, 0, 0.5);
}

.experts-investor-board-wrapper .main-content .cards-list .card .card-description
{
    max-width: 200px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.experts-investor-board-wrapper .main-content .gradient-border{
    width: 570px;
    margin: 0 auto;
    height: 10px;
    background: radial-gradient(50% 50% at 50% 50%, #F79C04 0%, rgba(178, 127, 41, 0) 100%);
}

.experts-investor-board-wrapper .main-content .cards-list .card .social-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
    padding: 20px 0 12px;
    list-style: none;
}

.experts-investor-board-wrapper .main-content .cards-list .card .social-links li {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(90, 104, 127, 0.65);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
.experts-investor-board-wrapper .main-content .cards-list .card .social-links li:hover{
    transform: rotateY(360deg);
}

@media  screen and (max-width: 450px) {

    .experts-investor-board {
        background: #041122;
        padding:  0 0;
    }

    .experts-investor-board-wrapper {
        position: relative;
        padding: 40px 0;
       /*border-bottom: 1px solid #e4a40c;*/
    }

    .experts-investor-board-wrapper .main-content .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }

    .experts-investor-board-wrapper .main-content .cards-list .card {
        margin: 20px auto;
    }


}