.what-frx-coin {
    width: 100%;
    background: #041122;
}

.frx-coin-content {
    padding: 40px 10px 100px;
}

.frx-coin-content .header {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.frx-coin-content .header .title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    background: linear-gradient(180deg, #B27F29 0%, #F79C04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.frx-coin-content .header .subtitle {
    width: 415px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.frx-coin-content-description {
    position: relative;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--==================================
      Circle social share button
    -=================================*/

.frx-coin-content-description .links {
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 800px;
    height: 800px;
    border: 1px solid rgba(178, 127, 41, 0.6);
    background: rgba(0, 0, 0, 0.1);
}

.frx-coin-content-description .center-logo {
    position: absolute;
}

.frx-coin-content-description .second-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 1px solid #b27f29;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
}

.frx-coin-content-description .second-circle li {
    position: absolute;
    list-style: none;
    left: -30px;
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--i));
    transform: rotate(calc(360deg / 10 * var(--i)));
    transform-origin: 328px;
    /*scale: 0;*/
}

.frx-coin-content .second-circle li .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 2rem;
    color: #fff;
    background: linear-gradient(180deg, #C68618 0%, #F79C04 100%);
    transform: rotate(calc(360deg / -10 * var(--i)));
    transition: 0.3s;
}

.frx-coin-content-description .third-circle {
    position: absolute;
    width: 987px;
    height: 987px;
    border-radius: 50%;
    border: 1px solid rgba(178, 127, 41, 0.3)
}


.frx-coin-content-description .links li {
    position: absolute;
    list-style: none;
    left: -30px;
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--i));
    transform: rotate(calc(360deg / 10 * var(--i)));
    transform-origin: 430px;
    scale: 0;
}

.frx-coin-content-description .links li .description {
    transform: rotate(calc(360deg / -10 * var(--i)));
}

.frx-coin-content-description .links li .des-1 {
    position: absolute;
    top: 0;
    left: -230px;
    width: 225px;
}

.frx-coin-content-description .links li .des-2 {
    position: absolute;
    top: 80px;
    left: -197px;
    width: 225px;
}


.frx-coin-content-description .links li .des-3 {
    position: absolute;
    top: -97px;
    left: -221px;
    width: 225px;
}

.frx-coin-content-description .links li .des-4 {
    position: absolute;
    top: -3px;
    left: -247px;
    width: 225px;
}

.frx-coin-content-description .links li .des-5 {
    position: absolute;
    top: 94px;
    left: -216px;
    width: 225px;
}

.frx-coin-content-description .links li .des-6 {
    position: absolute;
    top: -80px;
    left: -197px;
    width: 225px;
}

.frx-coin-content-description .links li .description .description-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: ;*/
    row-gap: 10px;
}

.frx-coin-content-description .links li .description .description-column h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.frx-coin-content-description .links li .description .description-column p {
    /*text-align: center;*/
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.frx-coin-content .links.active li {
    scale: 1;
}


.frx-coin-content .links li .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 2rem;
    color: #fff;
    background: linear-gradient(180deg, #C68618 0%, #F79C04 100%);
    transform: rotate(calc(360deg / -10 * var(--i)));
    transition: 0.3s;
}

.frx-coin-content .links li .icon img {
    width: 40px;
    margin-top: 9px;
}

.frx-coin-content .links li:nth-child(3), .frx-coin-content .links li:nth-child(4), .frx-coin-content .links li:nth-child(8), .frx-coin-content .links li:nth-child(9) {
    opacity: 0;
}

.frx-coin-content .links li:hover .icon {
    cursor: pointer;
}