:root {
  --PRIMARY_COLOR:  #B27F29;
  --SECONDARY_COLOR: #041122;
  /*--clr: var(--PRIMARY_COLOR);*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--PRIMARY_COLOR);
  /*overflow: hidden;*/
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  background-color: #041020;
}

a {
  text-decoration: none;
}

.container-wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

@font-face {
  font-family: "Satisfy";
  src: local("Satisfy"),
  url("./assets/fonts/Satisfy/Satisfy-Regular.ttf") format("truetype");
  font-weight: bold;
}