@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpaceGrotesk";
  src: local("SpaceGrotesk"),
    url("./assets/fonts/Space_Grotesk/SpaceGrotesk.ttf") format("truetype");
}

:root {
  --primary: #12497f;
  --secondary: #eaf3f6;
  --blue: #059ecc;
  --lightBlue: #b1d9ec;
  --orange: #f1754e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: var(--primary);
}

a {
  font-family: "SpaceGrotesk", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

body {
  width: 100%;
  font-family: "SpaceGrotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  background-color: var(--secondary);
}

a {
  text-decoration: none;
}
