.why-choose-frx {
    background: #041122;
    padding: 50px 0 0;
}

.why-choose-frx-wrapper {
    position: relative;
    padding: 100px 70px 100px;
    width: 100%;
    z-index: 0;
    background-image: url(../../assets/images/01_MSR_SIGCOMM_Data_Network_1400x788.png)
}

.why-choose-frx-wrapper .bg-layer {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #041122;
    opacity: 0.9;
}

.why-choose-frx-wrapper .main-content {
    position: relative;
}

.why-choose-frx-wrapper .main-content .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.why-choose-frx-wrapper .main-content .header h2 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 42px;
    background: linear-gradient(180deg, #B27F29 0%, #F79C04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.why-choose-frx-wrapper .main-content .header p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 60px;
}

.why-choose-frx-wrapper .main-content .cards-list {
    color: var(--SECONDARY_COLOR);
    display: grid;
    gap: 1.8rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 286px), 1fr));
}

.why-choose-frx-wrapper .main-content .cards-list .card {
    width: 100%;
    max-width: 350px;
    min-height: 318px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /*justify-content: center;*/
    padding: 25px 16px 16px;
    /*margin: 80px 10px;*/
    background: #101D2E;
    border: 1px solid #B27F29;
}

.why-choose-frx-wrapper .main-content .cards-list .card .icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #C68618 0%, #F79C04 100%);
}

.why-choose-frx-wrapper .main-content .cards-list .card .icon img {
    margin-top : 5px;
}

.why-choose-frx-wrapper .main-content .cards-list .card .card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border-bottom: 1px solid #e4a40c;
    padding-bottom: 14px;
}

.why-choose-frx-wrapper .main-content .cards-list .card .card-description {
   /* width: 200px; */
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.why-choose-frx-wrapper .main-content .gradient-border{
    min-width: 320px;
    margin: 60px auto  0;
    height: 10px;
    background: radial-gradient(50% 50% at 50% 50%, #F79C04 0%, rgba(178, 127, 41, 0) 100%);
}


@media screen and (max-width: 810px) {
    .why-choose-frx {
        padding: 0 0;
    }
    .why-choose-frx-wrapper .bg-layer {
        opacity: 0.93;
    }

    .why-choose-frx-wrapper {
        padding: 70px 70px 100px;
    }

    .why-choose-frx-wrapper .main-content .cards-list .card {
        justify-content: center;
        background: none;
        transition: all 0.5s;
        border: 1px solid transparent;
        padding:  40px 30px;
        border-radius: 4px;
        /*background: #1c304a;*/
    }

    .why-choose-frx-wrapper .main-content .cards-list .card:hover {
        background: #1c304a;
        border-radius:20px;
        /*border: 1px solid #B27F29;*/
    }

    .why-choose-frx-wrapper .main-content .cards-list .card:hover .icon {
        transform: scale(-1) rotate(180deg);
    }

    .why-choose-frx-wrapper .main-content .cards-list .card:hover .icon::before {
        border: 3px solid rgba(178, 127, 41, 1);
    }

    .why-choose-frx-wrapper .main-content .cards-list .card .icon::before {
        content: '';
        position: absolute;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 3px solid rgba(178, 127, 41, 0.40);
    }

    .why-choose-frx-wrapper .main-content .cards-list .card .icon {
        position: relative;
        width: 80px;
        height: 80px;
        margin-bottom: 30px;
        transition: all 0.5s;
    }

    .why-choose-frx-wrapper .main-content .cards-list .card .icon img {
        margin-top : 5px;
    }

    .why-choose-frx-wrapper .main-content .cards-list .card .card-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        border-bottom: 1px solid #e4a40c;
        padding-bottom: 14px;
    }

    .why-choose-frx-wrapper .main-content .cards-list .card .card-description {
        /* width: 200px; */
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }

}


@media screen and (max-width: 550px) {
    .why-choose-frx-wrapper {
        padding: 70px 10px;
    }
}


@media screen and (max-width: 420px){
    .why-choose-frx-wrapper .main-content .header h2 {
        font-size: 26px;
    }

    .why-choose-frx-wrapper .main-content .header p {
        font-size: 14px;
    }
}


